.flex-container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.background-container {
    background-image: linear-gradient(135deg, hsla(0, 80%, 86%, 0.103),  hsla(0, 74%, 74%, 0.082)), url("../images/bg-pattern-desktop.svg");
}

.text-container {
    margin: 60px 150px;
}

.logo {
    margin-bottom: 100px;
}

.title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    line-height: 1em;
    margin-bottom: 50px;

}

.title p span {
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    font-size: .9em;
    letter-spacing: 0.28em;
}

.main-text {
    display: flex;
    flex-flow: column wrap;
    max-width: 450px;
    
}

.main-text p {
    font-family: 'Josefin Sans', sans-serif; 
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    line-height: 1.4em;
}

.photo-container {
    width: 100%;
}

.contact-field {
    margin-top: 36px;
    margin-bottom: 90px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#input-email {
    border-radius: 2rem;
    border: 1px solid hsl(0, 36%, 70%);
    padding: 16px 24px;
    width: 100%;
    background: linear-gradient(135deg, hsl(0, 0%, 100%),  hsl(0, 100%, 98%));
    margin-bottom: 8px;
}
  
#input-email.invalid {
    border: 2px solid hsl(0, 93%, 68%);
}
  
#input-email::placeholder {
    font-weight: 400;
    color: hsl(0, 36%, 70%);
    opacity: 0.5;
    font-family: 'Josefin Sans', sans-serif;
}
  
.button {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 2rem;
    width: 65px;
    height: 50px;
    border: none;
    background: linear-gradient(135deg, hsla(0, 80%, 86%, 0.103),  hsla(0, 74%, 74%, 0.082));
    box-shadow: 0px 14px 36px -8px hsl(0, 36%, 70%);
}
  
.button:hover {
    opacity: 0.6;
    cursor: pointer;
}
  
form span {
    color: hsl(0, 93%, 68%);
    font-size: 13px;
}
  
.error {
    display: none;
    position: absolute;
    top: 12px;
    right: 75px;
    z-index: 1000;
}
  
.error .active {
    display: inline-block;
}


/* mobile */

@media(max-width: 1080px) {

    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
    }

}